# Common
**.private
**.quantizr
**.env
ssh/

# Neovim
undodir
autoload
plugged
.netrwhist
nvim/plugin/packer_compiled.lua

# Tmux
tmux/plugins/

# GitHub CLI
gh/
git/

# Misc
htop/
glab-cli/
op/
vaultconfig
vifm/
psysh/
gtk-2.0/
raycast/
configstore/
